{% extends 'page.html' %}
{% block page_content %}
<div class="about-page">
    <h1>
        About EnvirMP
    </h1>
    <p>
        EnviroMP attemps to concisely show how environmentally concious a given MP is based on their voting history on different bills.
        Their score is assigned as a percentage of environmentally positive bills they voted for vs against. As such a higher score represents a more envioronmentally concious MP.
        For bills which are against the environment a higher score means the MP voted against the bill.

        Data is taken from the <a href="https://www.publicwhip.org.uk/">www.publicwhip.org.uk</a> where you can find more information down to which specific bills each MP voted for and against within larger policy categories.
        This is not the end of your research into an MP - it's just the begining. We implore you to look more into your MP and the rest of their voting history. Being an informed voter is the most powerful tool we have to steer the direction of the UK going forward.
    </p>
</div>
{% endblock %}