{% extends 'page.html' %}

{% block page_content %}

<div class ="email">
    <div class = "form">

        <form >
            <label for="name">Full name:</label>
            <br>
            <input type="text" id="YourName" name="name">
            <br>
            <label for="address">Your Address</label>
            <br>
            <input type="text" id="address" name="address">
            
            <br>
            <label for="phone">Your phone number</label>
            <br>
            <input type="text" id="phone" name="phone">

            <br>
            <label for="mpName">Your MP's Name</label>
            <br>
            <input type="text" id="mpName" name="mpName">

            <br>
            
            <button type="button" onclick="generateEmail()"> Generate Email </button>
        </form>
    

        <textarea name = "emailText" rows = "5" cols = "80" id="emailText">

        <p> Email to: 
        </p>
        

        </textarea>
    </div>
</div>

<script>
function generateEmail()
{
    
    YourName = document.getElementById("YourName").value;
    MpName = document.getElementById("mpName").value;
    YourAdress = document.getElementById("address").value;
    YourNumber = document.getElementById("phone").value;
    score = 0;
    
    EmailText = `Dear ${MpName},

According to EnviroMP.org, I noticed that you have a score of ${score} when it comes to voting on environmentally friendly policies.  
            
This is an issue that is very important to me so I was wondering why you voted the way you do.
    
I look forward to from hearing back from you.
    
Kind regards,
From ${YourName}
${YourNumber}
${YourAdress}`;

    document.getElementById('emailText').value = EmailText;
}


</script>

{% endblock %}
